.timerform {
    text-align:center;
}

.timerform-wrapper {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    max-width:100vw !important;
    margin:auto;
    text-align:center
}
.timerform-wrapper > div {
    margin: 1em;
}
