.card {
    z-index: 1;
}

.icon-button {
    background:transparent;
    border:none;
    outline: none;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.text-overlay-centered {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
    color: white;
}

label {
    margin-bottom: 0 !important;
}