.timer-wrapper {
    max-width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.timer-buttons {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.showform-button {
    margin: auto;
    background-color: transparent;
    outline:none;
    color:black; 
    border:none;
}