.dyslexia-wrapper {
    width: 100vw;
    background:wheat;
}

.dyslexia-toolBar {
    z-index: 2;
    background:tomato;
    min-width: 15vw;
    margin: 1vw 1vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:fixed;
    right:0;
}

.dyslexia-textArea {
    width: 80vw;
    word-wrap:break-word;
    overflow:visible;
}

.dyslexia-bar-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.dyslexia-bar {
    pointer-events: none;
    transition-property: height;
    transition-duration: 333ms;
    position: absolute;
    width: 100%;
    z-index: 1;
    background:rgba(0,0,0,0.5);
}

.relative {
    position: fixed
}

.m-1vw {
    margin: 1vw 1vw;
}

.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

::selection {
    background: peachpuff;
}

::-moz-selection {
    background: peachpuff;
}

::-o-selection {
    background: peachpuff;
}

::-ms-selection {
    background: peachpuff;
}

::-webkit-selection {
    background: peachpuff;
}